body
  margin 0
  transition background-color 0.5s

  .custom
    transition opacity 0.5s

  &.dark
    header
      border-bottom-color $dark-border-color !important

    header, .markdown-body, .btn, .vssue, .vssue-new-comment-input, .vssue-edit-comment-input, #search-input
      color $dark-font-color !important

    .markdown-body
      a
        color $dark-link-font-color !important

      hr, h1, h2
        border-bottom-color $dark-border-color !important

      pre, code
        background-color $dark-pre-background-color !important

      table
        thead tr
          border-bottom-color $dark-border-color !important

        tr + tr
          border-top-color $dark-border-color !important

      img, kbd
        filter brightness($dark-image-brightness) !important

    main, .vssue, .vssue-pagination-select
      background-color $dark-main-background-color !important

    footer, .vssue
      border-top-color $dark-border-color !important

    .vssue-button:disabled
      color $dark-border-color !important
      border-color $dark-border-color !important
