body
  margin 0

  &, .markdown-body pre, .markdown-body code, .vssue-pagination-select
    transition background-color $transition-duration

  header
    transition color $transition-duration, border-bottom-color $transition-duration

  .markdown-body:not(footer), .markdown-body a, .vssue, .vssue-new-comment-input, .vssue-edit-comment-input
    transition color $transition-duration

  .markdown-body hr, .markdown-body h1, .markdown-body h2, .markdown-body table thead tr
    transition border-bottom-color $transition-duration

  .markdown-body table tr + tr, footer
    transition border-top-color $transition-duration

  .markdown-body img, .markdown-body kbd
    transition filter $transition-duration

  &.dark
    header
      border-bottom-color $dark-border-color !important

    header, .markdown-body, .vssue, .vssue-new-comment-input, .vssue-edit-comment-input
      color $dark-font-color !important

    .markdown-body
      a
        color $dark-link-font-color !important

      hr, h1, h2
        border-bottom-color $dark-border-color !important

      pre, code
        background-color $dark-pre-background-color !important

      table
        thead tr
          border-bottom-color $dark-border-color !important

        tr + tr
          border-top-color $dark-border-color !important

      img, kbd
        filter brightness($dark-image-brightness) !important

    .index ul:not(.toc) .more span, .vssue-pagination-select
      background-color $dark-background-color !important

    footer
      border-top-color $dark-border-color !important

    .vssue-button:disabled
      color $dark-border-color !important
      border-color $dark-border-color !important
