body.dark
  header
    border-bottom-color $dark-border-color !important

  header, .markdown-body, .btn, #search-input
    color $dark-font-color !important

  .markdown-body
    a
      color $dark-link-font-color !important

    hr, h1, h2
      border-bottom-color $dark-border-color !important

    pre, code
      background-color $dark-pre-background-color !important

    table
      thead tr
        border-bottom-color $dark-border-color !important

      tr + tr
        border-top-color $dark-border-color !important

    img, kbd
      filter brightness($dark-image-brightness) !important

  main
    background-color $dark-main-background-color !important

  footer
    border-top-color $dark-border-color !important
