.index
  ul.toc.tags
    padding-left 0

    li
      display inline

      + li:before
        content '|'
        margin-right $unit-s * 2

  ul:not(.toc)
    padding-left 0

    li
      list-style none
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

      &:before
        content '»'
        margin-right $unit

      blockquote
        font-style normal
        margin 0
        padding-left $unit * 2
        padding-right 0
        white-space normal
        font-size $font-size-s

        &:before
          content none

      code
        color $gray-font-color
        background-color transparent !important
        padding 0
        font-size $font-size-xs
        font-family $font-family

        &:before
          content '#'
          margin-right 2px

      .date
        margin-left $unit

    .more
      font-size $font-size-s
      color $gray-font-color
      border-top 1px dashed
      margin-top $unit * 2
      height $unit

      span
        background-color $main-background-color
        transition background-color $transition-duration, color $transition-duration
        position relative
        top -($unit * 2)
        padding-right $unit
        cursor pointer

        &:hover
          color $dim-gray-font-color

        &:before
          content '#'
          margin-right 2px

  #search-input
    width 100%
    background-color transparent
    border none
    outline none
    border-left 6px solid $info-color-s
    padding-left 16px

  #result span.hl
    color $danger-color
