main
  max-width $max-width
  margin $unit * 4 auto
  transition margin $transition-duration

  @media screen and (max-width: $media-max-width)
    margin $unit * 2

  header
    color $font-color
    font-family $font-family
    font-size $unit * 4
    font-weight $strong-font-weight
    margin $unit-s * 2 0 $unit * 2
    padding-bottom $unit-s * 2
    border-bottom 1px solid $border-color

  footer
    margin-top $unit * 2
    padding-top $unit
    border-top 1px solid $border-color

    a.home:before
      content '« '

  .date
    float right
    color $gray-font-color

  .hidden
    display none

  .center
    text-align center

  #cover
    margin-bottom $unit-s * 2

    img
      max-width 100%
      max-height 600px

  #bar
    code
      display inline-block
      font-size $font-size-xs
      padding-top 0
      padding-bottom 0
      margin-right $unit

      &.item-date
        background-color $info-color-xs

      &.item-author
        background-color $success-color-xs

        &:before
          content '@'
          margin-right 2px

      &.item-tag
        background-color $warning-color-xs

        &:before
          content '#'
          margin-right 2px

      &.item-count
        background-color $danger-color-xs

        &:after
          content 'W'
          margin-left 2px
