$max-width = 700px
$media-max-width = $max-width + 50
$unit = 8px
$unit-s = 6px
$transition-duration = 0.5s
$loadings-duration = 1s
$shadow-color = rgba(#000000, 0.1)
$box-shadow = 0 3px 3px 0 $shadow-color, 0 3px 6px 0 $shadow-color, 0 3px 0 -3px $shadow-color

$background-color = #F1F1F1
$pre-background-color = #2B2B2B
$border-color = #D3D3D3
$mark-color = #FFEB3B
$mark-color-s = rgba($mark-color, 0.5)
$info-color = #448AFF
$info-color-s = rgba($info-color, 0.5)
$info-color-xs = rgba($info-color, 0.1)
$success-color = #00C853
$success-color-s = rgba($success-color 0.5)
$success-color-xs = rgba($success-color 0.1)
$warning-color = #FF9100
$warning-color-s = rgba($warning-color, 0.5)
$warning-color-xs = rgba($warning-color, 0.1)
$danger-color = #FF1744
$danger-color-s = rgba($danger-color, 0.5)
$danger-color-xs = rgba($danger-color, 0.1)

$font-family = -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
$font-family-no-emoji = -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Segoe UI Symbol
$font-size = 15px
$font-size-s = 13px
$font-size-xs = 12px
$font-color = #4A4A4A
$gray-font-color = #A9A9A9
$dim-gray-font-color = #808080
$light-gray-font-color = #D3D3D3
$link-font-color = #287BDE
$strong-font-weight = 600

$dark-background-color = #2B2B2B
$dark-pre-background-color = #1E1E1E
$dark-border-color = #A9A9A9
$dark-font-color = #BEBEBE
$dark-link-font-color = #6D9CBE
$dark-image-brightness = 0.7
