body.zen
  main
    padding-top 0
    padding-bottom 0
    box-shadow none
    background-color transparent !important

    #cover
      margin-bottom 0

    header, article h1, article h2
      padding-bottom 0
      border-bottom-color transparent !important

    footer, #bar
      overflow hidden
      height 0
      opacity 0

    footer
      margin-top 0
      padding-top 0

  .custom
    opacity 0
