main
    max-width 700px
    margin 32px auto
    transition margin 0.5s

    @media screen and (max-width: 750px)
        margin 16px

    header
        color #4a4a4a
        font-family -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
        font-size 32px
        font-weight 600
        margin 12px 0 16px
        padding-bottom 12px
        border-bottom 1px solid lightgray

    footer
        margin-top 16px
        padding-top 8px
        border-top 1px solid lightgray

        a.home:before
            content '« '

    .date
        float right
        color darkgray

    .hidden
        display none

    .center
        text-align center

    #cover
        margin-bottom 12px

        img
            max-width 100%
            max-height 600px

    #bar
        code
            display inline-block
            font-size 12px
            padding-top 0
            padding-bottom 0
            margin-right 8px

            &.item-date
                background-color rgba(68, 138, 255, 0.1)

            &.item-author
                background-color rgba(0, 200, 83, 0.1)

                &:before
                    content '@'
                    margin-right 2px

            &.item-tag
                background-color rgba(255, 145, 0, 0.1)

                &:before
                    content '#'
                    margin-right 2px

            &.item-count
                background-color rgba(255, 23, 68, 0.1)

                &:after
                    content 'W'
                    margin-left 2px
