#toggle-dark, #to-top
  position fixed
  right 16px
  cursor pointer
  font-size 20px
  color transparent
  transition color 0.5s

  &:hover
    color #4a4a4a

  &.dark:hover
    color #bebebe

#toggle-dark
  top 16px

#to-top
  bottom 8px
