@import "var";

article {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    margin: 24px 0;

    &:hover {
      .heading-tag, .heading-link {
        opacity: 1;
      }
    }

    .heading-tag, .heading-link {
      cursor: pointer;
      transition: opacity 0.5s;
      opacity: 0;
    }

    .heading-tag {
      $width: 38px;

      font-size: 0.85em;
      display: inline-block;
      width: $width;
      margin: 0 8px 0 (-$width - 8px);
      text-align: right;

      @media screen and (max-width: $media-max-width) {
        float: right;
        margin: 0;
      }

      &:before {
        content: "-";
      }

      &.folding {
        opacity: 1;

        &:before {
          content: "+";
        }
      }
    }

    .heading-link {
      margin-left: 8px;
    }
  }

  $heading-sizes: 2em, 1.5em, 1.25em, 1em, 0.925em, 0.85em;

  @for $i from 1 through length($heading-sizes) {
    h#{$i} {
      font-size: nth($heading-sizes, $i);
    }
  }

  hr {
    max-width: 56px;
    margin: 24px auto;
    border: 0;
    border-bottom: 3px solid $dark-font-color;
  }

  p {
    margin: 0 0 16px;

    &.left {
      float: left;
      margin-right: 16px;
    }

    &.right {
      float: right;
      margin-left: 16px;
    }

    &.left, &.right {
      margin-bottom: 0;

      @media screen and (max-width: $media-max-width) {
        float: none;
        margin: 0 0 16px;
      }
    }
  }

  ol, ul {
    margin: 0 0 16px;
    padding-left: 2em;

    ol, ul {
      margin-bottom: 0;

      li:first-of-type {
        margin-top: 0.5em;
      }
    }

    li.article {
      margin-left: -2em;

      + blockquote {
        margin: 8px 0 8px -1em;
        padding-left: 0;

        &:before {
          content: none;
        }
      }
    }
  }

  dl {
    margin: 0 0 16px;

    &.center dd:before {
      content: none;
    }

    dd {
      font-size: $font-size-s;
      margin-left: 0;
      color: $gray-font-color;

      &:before {
        font-family: $arial-font-family;
        margin-right: 8px;
        content: "»";
      }

      &:last-of-type p {
        margin-bottom: 0;
      }

      p {
        display: inline-block;
      }
    }
  }

  img {
    max-width: 100%;
  }

  kbd {
    border: 1px solid $dark-font-color;
    box-shadow: inset 0 -2px 0 $dark-font-color;
  }

  mark {
    padding-bottom: 0.25em;
    transition: color 0.5s;
    color: $font-color;
    border-radius: 3px;
    background-color: $mark-color;
  }

  pre, pre[class*="language-"] {
    overflow: auto;
    margin: 0 0 16px;
    padding: 24px;
    color: $dark-font-color;
    background-color: $dark-background-color;

    code {
      font-size: 1em;
      line-height: 1.8;
      padding: 0;
      background-color: transparent;
    }
  }

  table {
    margin-bottom: 16px;
    border-collapse: collapse;

    thead tr {
      border-bottom: 2px solid $dark-font-color;
    }

    tr + tr {
      border-top: 1px solid $dark-font-color;
    }

    th {
      font-weight: bold;
    }

    th, td {
      padding: 8px 16px;

      &:not(:last-of-type) {
        border-right: 1px solid $dark-font-color;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 24px 0;
    padding-left: 32px;
    color: $gray-font-color;

    &:before {
      font-family: $arial-font-family;
      font-size: 4em;
      position: absolute;
      top: -28px;
      left: 0;
      content: "“";
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  details {
    overflow: hidden;
    margin: 24px 0;
    padding: 0 16px;
    border-left: $border-width solid;

    ::-webkit-details-marker {
      display: none;
    }

    ::-moz-list-bullet {
      font-size: 0;
    }

    &[open]:not(.empty):after {
      float: right;
      width: 16px - $border-width;
      height: 16px - $border-width;
      margin: -16px -16px 0 0;
      content: "";
      border: $border-width solid;
      border-top: none;
      border-left: none;
    }

    &:not([open]) summary:after {
      content: "▼";
    }

    &.readonly > summary {
      pointer-events: none;

      &:after {
        content: none;
      }
    }

    &.empty > {
      :last-child {
        margin-bottom: 0;

        > pre {
          margin-bottom: 0;
        }
      }

      summary {
        display: none;

        + * {
          margin-top: 0;
        }
      }
    }

    &.bold > summary {
      font-weight: bold;
    }

    summary {
      overflow: hidden;
      margin: 0 -16px;
      padding: 8px 16px;
      outline: none;

      &:after {
        font-family: $arial-font-family;
        float: right;
        content: "▲";
      }

      * {
        display: inline;
      }

      + * {
        margin-top: 16px;
      }

      ul, ol {
        margin-left: -2em;

        li:before {
          margin-right: 8px;
          content: "•";
        }
      }

      blockquote {
        padding-left: 0;

        &:before {
          content: none;
        }
      }
    }

    @each $name, $colors in $color-sets {
      &#{if($name == "info", "", "." + $name)} {
        border-color: nth($colors, 1);

        &[open]:not(.empty):after {
          border-color: nth($colors, 1);
        }

        summary {
          background-color: nth($colors, 2);

          &:after {
            color: nth($colors, 1);
          }
        }
      }
    }
  }

  #search-input {
    font-family: $font-family;
    font-size: 1em;
    line-height: 1.8;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 24px 0;
    padding: 0 0 0 16px;
    transition: color 0.5s;
    color: $font-color;
    border: none;
    border-left: $border-width solid $info-color-s;
    border-radius: 0;
    outline: none;
    background-color: transparent;
  }

  #result {
    padding-left: 16px;
    border-left: $border-width solid $success-color-s;

    li.article {
      margin-left: 0;

      + blockquote {
        margin-left: 1em;
      }
    }

    .highlight {
      font-weight: bold;
      color: $danger-color-s;
    }

    .ellipsis {
      font-size: 2em;
      font-weight: bold;
      line-height: 0;
      margin: 0 4px;
      color: $info-color-s;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  #toc {
    font-size: $font-size-s;
    margin: 24px 0;
    padding-left: 16px;
    border-left: $border-width solid $info-color-s;

    ul {
      margin-bottom: 0;

      &.ul-a, &.ul-b {
        display: inline-table;
        max-width: ($max-width / 2) - 35;
      }

      &.ul-1, &.ul-2, &.ul-3 {
        display: inline-table;
        max-width: ($max-width / 3) - 32;
      }

      @media screen and (max-width: $max-width + 56 * 2) {
        &.ul-a, &.ul-1, &.ul-2 {
          margin-bottom: 0.5em;
        }

        &.ul-a, &.ul-b, &.ul-1, &.ul-2, &.ul-3 {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  .footnotes {
    font-size: $font-size-s;
    margin-top: 24px;
    color: $gray-font-color;

    > :first-child {
      font-weight: bold;
    }

    .footnote-backref {
      font-family: $arial-font-family;
      margin-left: 4px;
    }
  }

  div.code-toolbar > .toolbar {
    top: 0;
    opacity: 1;

    button {
      cursor: pointer;
      outline: none;
    }

    button, span {
      font-family: $mono-font-family;
      font-size: $font-size-s;
      font-weight: bold;
      padding: 0 8px 0 0;
      transition: color 0.5s;
      color: $gray-font-color;
      background: none;
      box-shadow: none;

      &:hover {
        color: $dark-font-color;
      }
    }
  }

  .line-numbers .line-numbers-rows {
    top: -16px;
    padding: 16px 0;
  }

  .line-highlight {
    margin-top: 8px;
    background: linear-gradient(to right, $info-color-xs 70%, transparent);
  }

  .btn {
    font-family: $font-family;
    margin: 0 8px 8px 0;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.3s;
    color: $font-color;
    border: none;
    border-bottom: 3px solid;
    outline: none;
    background-color: transparent;

    @each $name, $colors in $color-sets {
      &#{if($name == "info", "", "." + $name)} {
        border-color: nth($colors, 1);

        &:hover {
          background-color: nth($colors, 2);
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $gray-font-color;
      border-color: $gray-font-color;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .folded {
    display: none;
  }
}
