@import "var";

body.dark {
  #top {
    background-color: $dark-background-color;

    img {
      filter: brightness(0.7);
    }
  }

  main {
    background-color: $dark-main-background-color;

    #cover {
      img {
        filter: brightness(0.7);
      }
    }

    header {
      color: $dark-font-color;
    }

    footer {
      .date {
        color: $dark-font-color;
      }
    }
  }

  #toggle-dark, #toggle-zen, #to-top {
    &:hover {
      color: $dark-font-color;
    }
  }

  .markdown-body {
    &, .btn, #search-input {
      color: $dark-font-color;
    }

    a {
      color: $dark-link-font-color;

      &:not([href]) {
        color: $light-gray-font-color;
      }

      code {
        color: $dark-link-font-color;
      }
    }

    svg {
      fill: $dark-font-color;
    }

    hr {
      border-bottom-color: $dark-border-color;
    }

    blockquote, dl dd, .footnotes {
      color: $light-gray-font-color;
    }

    code {
      color: $dark-font-color;
    }

    table {
      thead tr {
        border-bottom-color: $dark-border-color;
      }

      tr + tr {
        border-top-color: $dark-border-color;
      }
    }

    img, kbd {
      filter: brightness(0.7);
    }
  }

  .custom {
    img {
      filter: brightness(0.7);
    }
  }
}
