@import "var";

body.dark {
  #top {
    img {
      filter: brightness($dark-image-brightness);
    }
  }

  main {
    background-color: $dark-main-background-color;

    #bar {
      code {
        color: $dark-font-color;
        background-color: $dark-code-background-color;

        a {
          color: $dark-link-font-color !important;
        }
      }
    }

    header {
      color: $dark-font-color;
      border-bottom-color: $dark-border-color
    }

    article {
      &, .btn, #search-input {
        color: $dark-font-color;
      }

      a {
        color: $dark-link-font-color !important;
      }

      hr, h1, h2 {
        border-bottom-color: $dark-border-color;
      }

      blockquote, dl dd, .footnotes {
        color: $light-gray-font-color;
      }

      pre code {
        background-color: $pre-background-color;
      }

      code {
        background-color: $dark-code-background-color;
      }

      table {
        thead tr {
          border-bottom-color: $dark-border-color;
        }

        tr + tr {
          border-top-color: $dark-border-color;
        }
      }

      img, kbd {
        filter: brightness($dark-image-brightness);
      }
    }

    footer {
      border-top-color: $dark-border-color;

      a {
        color: $dark-link-font-color !important;
      }
    }

    .date {
      color: $dark-font-color;
    }
  }

  .custom {
    img {
      filter: brightness($dark-image-brightness);
    }
  }
}
