@import "var";

#toggle-dark, #toggle-zen, #to-top {
  font-family: $font-family;
  font-size: 20px;
  position: fixed;
  right: 16px;
  cursor: pointer;
  color: transparent;

  &:hover {
    color: $font-color;
  }
}

#toggle-dark {
  font-size: 22px;
  bottom: 72px;
  transition: color 0.5s;
}

#toggle-zen {
  bottom: 40px;
  transition: color 0.5s, transform 0.5s;

  &.spin {
    transform: rotate(45deg);
  }
}

#to-top {
  bottom: 8px;
  transition: color 0.5s;

  &.spin {
    animation: to-top-spin 0.5s;

    @keyframes to-top-spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
