@import "var";

#toggle-dark, #toggle-zen, #to-top {
  font-size: 24px;
  position: fixed;
  cursor: pointer;
  color: transparent;

  &:hover {
    color: $font-color;
  }

  &.dark:hover {
    color: $dark-font-color;
  }
}

#toggle-dark {
  right: 16px;
  bottom: 72px;
  transition: color 0.5s;
}

#toggle-zen {
  right: 16px;
  bottom: 40px;
  transition: color 0.5s, transform 0.5s;
  transform: rotate(-45deg);

  &.spin {
    transform: rotate(0deg);
  }
}

#to-top {
  right: 14px;
  bottom: 8px;
  transition: color 0.5s, transform 0.5s;
  transform: rotate(0deg);

  &.spin {
    transform: rotate(360deg);
  }
}
