@import "var";

.index {
  ul {
    &.toc.tags {
      padding-left: 0;

      li {
        display: inline;

        + li:before {
          content: "|";
          margin-right: $unit-s * 2;
        }
      }
    }

    &:not(.toc) {
      padding-left: 0;

      li {
        list-style: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
          content: "»";
          margin-right: $unit;
        }

        blockquote {
          font-style: normal;
          margin: 0;
          padding-left: $unit * 2;
          padding-right: 0;
          white-space: normal;
          font-size: $font-size-s;

          &:before {
            content: none;
          }
        }

        code {
          color: $gray-font-color;
          background-color: transparent !important;
          padding: 0;
          font-size: $font-size-xs;
          font-family: $font-family;

          &:before {
            content: "#";
            margin-right: 2px;
          }
        }

        .date {
          margin-left: $unit;
        }
      }
    }
  }

  #search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-left: 6px solid $info-color-s;
    padding-left: 16px;
    transition: color 0.5s;
  }

  #result span {
    &.hl {
      color: $danger-color;
      font-weight: $strong-font-weight;
    }

    &.ellipsis {
      color: $info-color;
      font-weight: $strong-font-weight;
      font-size: 30px;
      line-height: 0;
      margin: 0 3px;
    }
  }
}
