@import "var";

main {
  max-width: $max-width;
  margin: 40px auto;
  padding: 40px 56px;
  transition: padding 0.5s, margin 0.5s, background-color 0.5s, box-shadow 0.5s;
  background-color: $main-background-color;
  box-shadow: $box-shadow;

  @media screen and (max-width: $media-max-width) {
    margin: 0 auto;
    padding: 24px;
  }

  #cover {
    margin-bottom: 16px;
    transition: margin-bottom 0.5s;

    img {
      max-width: 100%;
      max-height: 600px;
      transition: filter 0.5s;
    }
  }

  #bar {
    max-height: 27px * 2;
    transition: opacity 0.5s, max-height 0.5s;
    opacity: 1;
  }

  header {
    font-family: $font-family;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 20px;
    transition: color 0.5s, margin-top 0.5s;
    color: $font-color;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  article {
    transition: color 0.5s;

    .hidden, .folded {
      display: none !important;
    }
  }

  #backlinks {
    font-size: $font-size-s;
    margin-top: 24px;
    padding: 8px 16px;
    transition: color 0.5s;
    border-radius: 3px;
    background-color: $code-background-color;

    .icon {
      float: left;
      width: 30px;
      height: 28px;

      &.loading {
        svg {
          margin-top: 4px;
          animation: svg-spin 1s linear infinite;

          @keyframes svg-spin {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }

      svg {
        margin-top: 3px;
      }
    }

    ul li.article {
      margin-left: 4px !important;

      &:last-of-type {
        margin-bottom: 4px;
      }
    }
  }

  footer {
    height: 27px;
    margin-top: 24px;
    transition: opacity 0.5s, height 0.5s, margin-top 0.5s;
    opacity: 1;

    .home:before {
      content: "« ";
    }

    .date {
      float: right;
      transition: color 0.5s;
      color: $gray-font-color;
    }
  }

  .bar {
    code {
      font-size: $font-size-xs;
      display: inline-block;
      margin-right: 8px;
      padding-top: 0;
      padding-bottom: 0;

      &:last-of-type {
        margin-right: 0;
      }

      &.item-date {
        background-color: $info-color-xs;
      }

      &.item-tag {
        background-color: $success-color-xs;

        a:not(:last-of-type) {
          &:after {
            content: "/";
          }
        }

        &:before {
          margin-right: 2px;
          content: "#";
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  &.error {
    header {
      color: $danger-color;
    }
  }
}

a.error {
  color: $danger-color !important;
}
