@import "var";

main {
  max-width: $max-width;
  margin: 40px auto;
  padding: 40px 56px;
  transition: padding 0.5s, margin 0.5s, background-color 0.5s, box-shadow 0.5s;
  background-color: $main-background-color;
  box-shadow: $box-shadow;

  @media screen and (max-width: $media-max-width) {
    margin: 0 auto;
    padding: 24px;
  }

  header {
    font-family: $font-family;
    font-size: 32px;
    font-weight: 600;
    margin: 12px 0 16px;
    padding-bottom: 12px;
    transition: color 0.5s, border-bottom-color 0.5s, margin-top 0.5s, padding-bottom 0.5s;
    color: $font-color;
    border-bottom: 1px solid $border-color;
  }

  article {
    transition: color 0.5s;
  }

  footer {
    height: 27px;
    margin-top: 16px;
    padding-top: 8px;
    transition: border-top-color 0.5s, opacity 0.5s, height 0.5s, margin-top 0.5s, padding-top 0.5s;
    opacity: 1;
    border-top: 1px solid $border-color;

    a.home:before {
      content: "« ";
    }
  }

  .date {
    float: right;
    transition: color 0.5s;
    color: $gray-font-color;
  }

  .hidden {
    display: none;
  }

  .center {
    text-align: center;
  }

  #cover {
    margin-bottom: 12px;
    transition: margin-bottom 0.5s;

    img {
      max-width: 100%;
      max-height: 600px;
      transition: filter 0.5s;
    }
  }

  #bar {
    max-height: 27px * 2;
    transition: color 0.5s, opacity 0.5s, max-height 0.5s;
    opacity: 1;

    code {
      font-size: $font-size-xs;
      display: inline-block;
      margin-right: 8px;
      padding-top: 0;
      padding-bottom: 0;
      transition: color 0.5s, background-color 0.5s;

      &.item-date {
        background-color: $info-color-xs;
      }

      &.item-author {
        background-color: $success-color-xs;

        &:before {
          margin-right: 2px;
          content: "@";
        }
      }

      &.item-tag {
        background-color: $warning-color-xs;

        &:before {
          margin-right: 2px;
          content: "#";
        }
      }

      &.item-count {
        background-color: $danger-color-xs;

        &:after {
          margin-left: 2px;
          content: "W";
        }
      }

      &.item-version {
        transition: opacity 0.5s;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
