@import "var";

main {
  max-width: $max-width;
  margin: 40px auto;
  padding: 40px 56px;
  transition: margin 0.5s, padding 0.5s, background-color 0.5s, box-shadow 0.5s;
  background-color: $main-background-color;
  box-shadow: $box-shadow;

  @media screen and (max-width: $media-max-width) {
    margin: 0 auto;
    padding: 24px;
  }

  &.slide-fade-enter-active {
    transition: opacity 0.5s;
  }

  &.slide-fade-leave-active {
    transition: opacity 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  &.slide-fade-enter, &.slide-fade-leave-to {
    opacity: 0;
  }

  #cover {
    margin-bottom: 16px;

    img {
      max-width: 100%;
      max-height: 600px;
    }
  }

  #bar {
    opacity: 1;
  }

  #redirect-from {
    font-size: $font-size-s;
    margin-top: 8px;
    color: $gray-font-color;

    &:before {
      font-family: $arial-font-family;
      margin-right: 4px;
      content: "#";
    }

    a {
      &:first-of-type {
        margin-left: 4px;
      }

      &:not(:last-of-type):after {
        margin: 0 4px;
        content: "/";
      }
    }
  }

  header {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 24px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  #backlinks {
    font-size: $font-size-s;
    display: flex;
    align-items: center;
    min-height: 30px;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: $code-background-color;

    ul {
      width: 100%;
      margin: 0;
      padding-left: 0;
    }

    .icon {
      float: left;
      width: 32px;
      height: 20px;

      &.loading svg {
        animation: svg-spin 1s linear infinite;

        @keyframes svg-spin {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  footer {
    display: flex;
    margin-top: 24px;
    opacity: 1;

    .home {
      min-width: 120px;

      &:before {
        font-family: $arial-font-family;
        content: "« ";
      }
    }

    .date {
      color: $gray-font-color;
    }
  }

  code, kbd {
    font-family: $mono-font-family !important;
    font-size: 0.85em;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 3px;
    background-color: $code-background-color;
  }

  li {
    + li {
      margin-top: 0.5em;
    }

    &.article {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:before {
        font-family: $arial-font-family;
        margin-right: 8px;
        content: "»";
      }

      .bar {
        margin-left: 1em;
      }
    }
  }

  .bar code {
    margin: 4px 0;

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &.item-date {
      background-color: $info-color-xs;
    }

    &.item-creator {
      background-color: $danger-color-xs;
    }

    &.item-tag {
      background-color: $success-color-xs;

      &:before {
        font-family: $arial-font-family;
        margin-right: 4px;
        content: "#";
      }

      a:not(:last-of-type):after {
        content: "/";
      }
    }
  }

  .center {
    text-align: center;
  }

  .hidden {
    display: none;
  }
}
