@import "~github-markdown-css/github-markdown.css";
@import "var";

.markdown-body {
  font-size: $font-size;
  line-height: 1.8;
  color: $font-color;

  > :first-child {
    img {
      margin-top: 0;
    }
  }

  a {
    cursor: pointer;
    transition: color 0.5s;
    text-decoration: none;
    color: $link-font-color;

    &:hover {
      text-decoration: underline;
    }

    &:not([href]) {
      color: $link-font-color;
    }

    svg {
      margin: 0 4px;
    }

    code {
      color: $link-font-color;
    }
  }

  svg {
    transition: fill 0.5s;
    fill: $font-color;
  }

  hr {
    max-width: 56px;
    height: 0;
    margin: 24px auto;
    transition: border-bottom-color 0.5s;
    border-bottom: 4px solid $border-color;
    background-color: transparent;
  }

  strong {
    font-weight: bolder;
  }

  h2 {
    padding-bottom: 0;
    border-bottom: none;
  }

  h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-bottom: 20px;

    &:hover {
      .heading-tag, .heading-link {
        opacity: 1;
      }
    }

    .heading-tag, .heading-link {
      cursor: pointer;
      transition: opacity 0.5s;
      opacity: 0;
    }

    .heading-tag {
      $width: 32px;
      $margin-right: 8px;

      font-size: 0.7em;
      display: inline-block;
      width: $width;
      margin-right: $margin-right;
      margin-left: -$width - $margin-right;
      text-align: right;

      &:before {
        content: "-";
      }

      &.folding {
        opacity: 1;

        &:before {
          content: "+";
        }
      }
    }

    .heading-link {
      margin-left: 8px;
    }
  }

  h5, h6 {
    .heading-link svg {
      height: 1em;
    }
  }

  p {
    &.left {
      float: left;
      margin-right: 16px;
    }

    &.right {
      float: right;
      margin-left: 16px;
    }

    &.left, &.right {
      margin-bottom: 0;

      @media screen and (max-width: $media-max-width) {
        float: none;
        margin-right: 0;
        margin-bottom: 16px;
        margin-left: 0;
      }
    }
  }

  img {
    margin-top: 8px;
    transition: filter 0.5s;
    background-color: transparent;
  }

  mark {
    border-radius: 3px;
    background-color: $mark-color-s;
    box-shadow: 0.25em 0 0 $mark-color-s, -0.25em 0 0 $mark-color-s;
  }

  dl {
    dt {
      font-weight: normal;
      font-style: normal;

      &:first-of-type {
        margin-top: 0;
      }
    }

    dd {
      font-size: $font-size-s;
      padding: 0;
      transition: color 0.5s;
      color: $gray-font-color;

      &:not(.center):before {
        margin-right: 8px;
        content: "»";
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      + dd {
        margin-top: -16px;
      }
    }

    &.center dd:before {
      content: none;
    }
  }

  pre {
    background-color: $dark-background-color;

    code {
      color: $dark-font-color;
    }
  }

  code {
    transition: color 0.5s;
    color: $font-color;
    background-color: $code-background-color;
  }

  blockquote {
    position: relative;
    margin: 24px 0;
    padding: 0 32px;
    transition: color 0.5s;
    color: $gray-font-color;
    border-left: none;

    &:before {
      font-family: Arial, serif;
      font-size: 4em;
      position: absolute;
      top: -32px;
      left: 0;
      content: "“";
    }
  }

  kbd {
    margin-bottom: 3px;
    transition: filter 0.5s;
  }

  table {
    thead tr {
      transition: border-bottom-color 0.5s;
      border-bottom: 2px solid $border-color;
    }

    tr {
      border-top: none;
    }

    tr + tr {
      transition: border-top-color 0.5s;
      border-top: 1px solid $border-color;
    }

    tr, tr:nth-child(2n) {
      background-color: transparent;
    }

    td, th {
      border: none;
    }

    th {
      font-weight: bolder;
      text-align: left;
    }
  }

  details {
    overflow: auto;
    margin: 24px 0;
    padding: 0 16px;
    border-left: 6px solid $info-color-s;

    ::-webkit-details-marker {
      display: none;
    }

    ::-moz-list-bullet {
      font-size: 0;
    }

    &[open]:not(.empty):after {
      $border-width: 3px;
      $length: 16px - $border-width;

      float: right;
      width: $length;
      height: $length;
      margin-top: -16px;
      margin-right: -16px;
      content: "";
      border: $border-width solid $info-color-s;
      border-top: none;
      border-left: none;
    }

    summary {
      overflow-y: hidden;
      margin: 0 -16px;
      padding: 6px 16px;
      outline: none;
      background-color: $info-color-xs;

      * {
        display: inline;
        margin-bottom: 0;
      }

      ul, ol {
        margin-left: -2em;

        li:before {
          margin-right: 8px;
          content: "•";
        }
      }

      blockquote:before {
        top: -28px;
      }

      + * {
        margin-top: 16px;
      }

      &:after {
        font-size: $font-size-s;
        float: right;
        content: "▲";
        color: $info-color-s;
      }
    }

    &:not([open]) summary:after {
      content: "▼";
    }

    &.readonly summary {
      pointer-events: none;

      &:after {
        content: none;
      }
    }

    &.empty {
      > :last-child {
        margin-bottom: 0;
      }

      summary {
        display: none;

        + * {
          margin-top: 0;
        }
      }
    }

    &.success {
      border-color: $success-color-s;

      &[open]:not(.empty):after {
        border-color: $success-color-s;
      }

      summary {
        background-color: $success-color-xs;

        &:after {
          color: $success-color-s;
        }
      }
    }

    &.warning {
      border-color: $warning-color-s;

      &[open]:not(.empty):after {
        border-color: $warning-color-s;
      }

      summary {
        background-color: $warning-color-xs;

        &:after {
          color: $warning-color-s;
        }
      }
    }

    &.danger {
      border-color: $danger-color-s;

      &[open]:not(.empty):after {
        border-color: $danger-color-s;
      }

      summary {
        background-color: $danger-color-xs;

        &:after {
          color: $danger-color-s;
        }
      }
    }
  }

  ul {
    &#result {
      padding-left: 0;

      span {
        &.hl {
          font-weight: bolder;
          color: $danger-color-s;
        }

        &.ellipsis {
          font-size: 30px;
          font-weight: bolder;
          line-height: 0;
          margin: 0 3px;
          color: $info-color-s;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    &:not(#result) li.article {
      margin-left: -2em;
    }

    li.article {
      overflow: hidden;
      list-style: none;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:before {
        margin-right: 8px;
        content: "»";
      }

      blockquote {
        font-size: $font-size-s;
        font-style: normal;
        margin: 0;
        padding-right: 0;
        padding-left: 16px;
        white-space: normal;

        &:before {
          content: none;
        }
      }

      .bar {
        float: right;
      }
    }
  }

  #search-input {
    width: 100%;
    padding-left: 16px;
    transition: color 0.5s;
    border: none;
    border-left: 6px solid $info-color-s;
    outline: none;
    background-color: transparent;
  }

  .toc {
    font-size: $font-size-s;
    margin-bottom: 16px;

    ul {
      &.ul-a, &.ul-b {
        max-width: ($max-width / 2) - 2;
      }

      &.ul-1, &.ul-2, &.ul-3 {
        max-width: ($max-width / 3) - 3;
      }

      &.ul-a, &.ul-b, &.ul-1, &.ul-2, &.ul-3 {
        display: inline-table;

        @media screen and (max-width: $max-width + 56 * 2 + 16) {
          width: 100%;
          max-width: none;
        }
      }

      &.ul-a, &.ul-1, &.ul-2 {
        margin-bottom: 0.25em;
      }

      &.ul-b, &.ul-3 {
        margin-bottom: 0;
      }
    }
  }

  .count:before {
    margin-right: 8px;
    margin-left: 8px;
    content: "-";
  }

  .footnotes {
    font-size: $font-size-s;
    margin-top: 24px;
    transition: color 0.5s;
    color: $gray-font-color;

    > span {
      font-weight: bolder;
    }

    ol {
      margin-bottom: -16px;

      li + li p {
        margin-top: 0;
      }
    }

    .footnote-backref {
      font-family: $font-family-no-emoji;
    }
  }

  div.code-toolbar > .toolbar {
    margin-right: 8px;

    .toolbar-item + .toolbar-item {
      margin-left: 3px;
    }

    button {
      cursor: pointer;
      outline: none;
    }

    button, span {
      transition: color 0.5s;
      color: $gray-font-color;
      background-color: #000000;

      &:hover {
        color: $light-gray-font-color;
      }
    }
  }

  button.btn {
    font-family: $font-family;
    font-size: $font-size-s;
    font-weight: bolder;
    margin: 0 6px 6px 0;
    padding: 6px 16px;
    cursor: pointer;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;
    color: $font-color;
    border: 2px solid $info-color-s;
    border-radius: 3px;
    outline: none;
    background-color: transparent;

    &:hover {
      background-color: $info-color-s;
    }

    &.success {
      border-color: $success-color-s;

      &:hover {
        background-color: $success-color-s;
      }
    }

    &.warning {
      border-color: $warning-color-s;

      &:hover {
        background-color: $warning-color-s;
      }
    }

    &.danger {
      border-color: $danger-color-s;

      &:hover {
        background-color: $danger-color-s;
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $light-gray-font-color;
      border-color: $light-gray-font-color;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
