@import "~github-markdown-css/github-markdown.css";
@import "var";

.markdown-body {
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;

  > :first-child dt:first-of-type {
    margin-top: 0 !important;
  }

  > :last-child dd:last-of-type {
    margin-bottom: 0 !important;
  }

  a {
    cursor: pointer !important;
    transition: color 0.5s;
    text-decoration: none !important;
    color: $link-font-color !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  hr {
    height: 1px;
    transition: border-bottom-color 0.5s;
    border-bottom: 1px solid $border-color;
    background-color: transparent;
  }

  h1, h2 {
    padding-bottom: $unit;
    transition: border-bottom-color 0.5s, padding-bottom 0.5s;
    border-bottom-color: $border-color;
  }

  p {
    &.left {
      float: left;
      margin-right: $unit * 2;
    }

    &.right {
      float: right;
      margin-left: $unit * 2;
    }

    &.left, &.right {
      margin-bottom: 0;

      @media screen and (max-width: $media-max-width) {
        float: none;
        margin-right: 0;
        margin-bottom: $unit * 2;
        margin-left: 0;
      }
    }
  }

  img {
    margin-top: $unit;
    transition: filter 0.5s;
    background-color: transparent;

    @for $i from 1 through 6 {
      &.w#{$i * 100} {
        width: 100%;
        max-width: $i * 100px;
      }
    }

    @for $i from 1 through 5 {
      &.h#{$i * 100} {
        height: $i * 100px;
      }
    }
  }

  mark {
    border-radius: 3px;
    background-color: $mark-color-s;
    box-shadow: 0.25em 0 0 $mark-color-s, -0.25em 0 0 $mark-color-s;
  }

  dl {
    dt {
      font-weight: normal;
      font-style: normal;
    }

    dd {
      font-size: $font-size-s;
      padding: 0;
      color: $gray-font-color;

      &:before {
        margin-right: $unit;
        content: "»";
      }

      + dd {
        margin-top: -($unit * 2);
      }
    }

    &.center dd:before {
      content: none;
    }
  }

  pre {
    transition: background-color 0.5s;
    background-color: $pre-background-color;
  }

  code {
    transition: color 0.5s, background-color 0.5s;
  }

  blockquote {
    position: relative;
    margin: $unit * 3 0;
    padding: 0 $unit * 4;
    color: $gray-font-color;
    border-left: none;

    &:before {
      font-family: Arial, serif;
      font-size: 4em;
      position: absolute;
      top: -($unit * 4);
      left: 0;
      content: "“";
    }
  }

  kbd {
    margin-bottom: 3px;
    transition: filter 0.5s;
  }

  table {
    thead tr {
      transition: border-bottom-color 0.5s;
      border-bottom: 2px solid $border-color;
    }

    tr {
      border-top: none;
    }

    tr + tr {
      transition: border-top-color 0.5s;
      border-top: 1px solid $border-color;
    }

    tr, tr:nth-child(2n) {
      background-color: transparent;
    }

    td, th {
      border: none;
    }

    th {
      text-align: left;
    }
  }

  details {
    overflow: auto;
    margin: $unit * 3 0;
    padding: 0 $unit * 2;
    border-left: $unit-s solid $info-color-s;
    border-radius: 3px;
    box-shadow: $box-shadow;

    ::-webkit-details-marker {
      display: none;
    }

    ::-moz-list-bullet {
      font-size: 0;
    }

    summary {
      margin: 0 (-($unit * 2));
      padding: $unit-s $unit * 2;
      outline: none;
      background-color: $info-color-xs;

      h1, h2 {
        padding-bottom: 0;
        border-bottom: none;
      }

      h1, h2, h3, h4, h5, h6 {
        display: inline;
      }

      + * {
        margin-top: $unit * 2;
      }

      &:after {
        font-size: $font-size-s;
        float: right;
        content: "▲";
        color: $info-color-s;
      }
    }

    &:not([open]) summary:after {
      content: "▼";
    }

    &.readonly summary {
      pointer-events: none;

      &:after {
        content: none;
      }
    }

    &.empty {
      box-shadow: $box-shadow-2;

      summary {
        display: none;
      }
    }

    &.success {
      border-left-color: $success-color-s;

      summary {
        background-color: $success-color-xs;

        &:after {
          color: $success-color-s;
        }
      }
    }

    &.warning {
      border-left-color: $warning-color-s;

      summary {
        background-color: $warning-color-xs;

        &:after {
          color: $warning-color-s;
        }
      }
    }

    &.danger {
      border-left-color: $danger-color-s;

      summary {
        background-color: $danger-color-xs;

        &:after {
          color: $danger-color-s;
        }
      }
    }
  }

  #toc {
    font-size: $font-size-s;
    margin-bottom: $unit * 2;

    .ul-a, .ul-b {
      display: inline-table;
      max-width: ($max-width / 2) - 2;

      @media screen and (max-width: $media-max-width) {
        width: 100%;
        max-width: none;
      }
    }

    .ul-a {
      margin-bottom: 0.25em;
    }

    .ul-b {
      margin-bottom: 0;
    }
  }

  .footnotes {
    font-size: $font-size-s;
    color: $gray-font-color;

    ol {
      margin-top: -($unit);
      margin-bottom: -($unit * 2);

      li + li p {
        margin-top: 0;
      }
    }

    .footnote-backref {
      font-family: $font-family-no-emoji;
    }
  }

  .count:before {
    margin-left: $unit;
    content: "-";
  }

  h1, h2, h3, h4, h5, h6 {
    &:hover .heading-link {
      opacity: 1;
    }

    .heading-link {
      transition: opacity 0.5s;
      opacity: 0;

      &:before {
        margin-left: 0.3em;
        content: "#";
        cursor: pointer;
      }
    }
  }

  div.code-toolbar > .toolbar {
    margin-right: $unit;

    .toolbar-item + .toolbar-item {
      margin-left: 3px;
    }

    button {
      cursor: pointer;
      outline: none;
    }

    button, span {
      transition: color 0.5s;
      color: $gray-font-color;
      background-color: $font-color;

      &:hover {
        color: $light-gray-font-color;
      }
    }
  }

  button.btn {
    font-family: $font-family;
    font-size: $font-size-s;
    font-weight: $strong-font-weight;
    margin: 0 $unit-s $unit-s 0;
    padding: $unit-s $unit * 2;
    cursor: pointer;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;
    color: $font-color;
    border: 2px solid $info-color-s;
    border-radius: 10px;
    outline: none;
    background-color: transparent;

    &:hover {
      background-color: $info-color-s;
    }

    &.success {
      border-color: $success-color-s;

      &:hover {
        background-color: $success-color-s;
      }
    }

    &.warning {
      border-color: $warning-color-s;

      &:hover {
        background-color: $warning-color-s;
      }
    }

    &.danger {
      border-color: $danger-color-s;

      &:hover {
        background-color: $danger-color-s;
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $light-gray-font-color;
      border-color: $font-color;
      background-color: $font-color;

      &:hover {
        background-color: $font-color;
      }
    }
  }
}
