@import "var";

#toggle-dark, #toggle-zen, #to-top {
  font-size: $unit * 3;
  position: fixed;
  right: $unit * 2;
  cursor: pointer;
  transition: color 0.5s;
  color: transparent;

  &:hover {
    color: $font-color;
  }

  &.dark:hover {
    color: $dark-font-color;
  }
}

#toggle-dark {
  top: $unit * 2;
}

#toggle-zen {
  top: $unit * 6;
  transition: color 0.5s, transform 0.5s;
  transform: rotate(-45deg);

  &.spin {
    transform: rotate(0deg);
  }
}

#to-top {
  bottom: $unit;
}
