@import "var";

#top {
  font-size: $font-size-s;
  padding: 0 16px;
  transition: background-color 0.5s, box-shadow 0.5s;
  color: $dark-font-color;
  background-color: $dark-main-background-color;
  box-shadow: $box-shadow;

  > div {
    display: flex;
    overflow-y: hidden;
    align-items: center;
    max-width: $max-width + 56px * 2;
    height: 40px;
    margin: 0 auto;
    transition: height 0.5s, opacity 0.5s;
    opacity: 1;

    img {
      height: 24px;
      margin-right: 8px;
    }

    a {
      color: $dark-link-font-color;

      &:first-of-type {
        margin-right: 8px;
        white-space: nowrap;
      }

      &:first-of-type, &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        font-family: $arial-font-family;
        margin: 0 8px;
        content: "|";
      }
    }

    select {
      transition: background-color 0.5s;
      color: $dark-font-color;
      border: none;
      outline: none;
      background-color: $dark-main-background-color;
    }
  }

  svg {
    fill: $dark-font-color;
  }
}
