$line-height: 1.8;
$max-width: 700px;
$media-max-width: $max-width + 50;
$unit: 8px;
$unit-s: 6px;
$shadow-color: rgba(#000000, 0.1);
$box-shadow: 0 3px 3px 0 $shadow-color, 0 3px 6px 0 $shadow-color, 0 3px 0 -3px $shadow-color;
$box-shadow-2: $box-shadow, 0 -3px 6px 0 $shadow-color;

$background-color: #f1f1f1;
$main-background-color: #ffffff;
$pre-background-color: #2b2b2b;
$border-color: #d3d3d3;
$mark-color: #ffeb3b;
$mark-color-s: rgba($mark-color, 0.5);
$info-color: #448aff;
$info-color-s: rgba($info-color, 0.5);
$info-color-xs: rgba($info-color, 0.1);
$success-color: #00c853;
$success-color-s: rgba($success-color, 0.5);
$success-color-xs: rgba($success-color, 0.1);
$warning-color: #ff9100;
$warning-color-s: rgba($warning-color, 0.5);
$warning-color-xs: rgba($warning-color, 0.1);
$danger-color: #ff1744;
$danger-color-s: rgba($danger-color, 0.5);
$danger-color-xs: rgba($danger-color, 0.1);

$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family-no-emoji: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
$font-size: 15px;
$font-size-s: 13px;
$font-size-xs: 12px;
$font-color: #464646;
$gray-font-color: #737373;
$light-gray-font-color: #969696;
$link-font-color: #2864dc;
$strong-font-weight: 600;

$dark-background-color: #2b2b2b;
$dark-main-background-color: #3b3b3b;
$dark-code-background-color: #1e1e1e;
$dark-border-color: #787878;
$dark-font-color: #bebebe;
$dark-link-font-color: #82b4e6;
$dark-image-brightness: 0.7;
