body.zen {
  #top {
    box-shadow: none;

    & > div {
      height: 0;
      opacity: 0;
    }
  }

  main {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    box-shadow: none;

    #cover {
      margin-bottom: 0;
    }

    header, article h1, article h2 {
      padding-bottom: 0;
      border-bottom-color: transparent;
    }

    footer, #bar {
      overflow: hidden;
      height: 0;
      opacity: 0;
    }

    footer {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .custom {
    opacity: 0;
  }
}
