@import "var";

body.zen {
  #top {
    box-shadow: none;

    > div {
      height: 0;
      opacity: 0;
    }
  }

  main {
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;

    > :first-child:not(#cover) + header {
      margin-top: 0;
    }

    #cover {
      margin-bottom: 0;
    }

    #bar, footer {
      overflow: hidden;
      opacity: 0;
    }

    #bar {
      max-height: 0;
    }

    footer {
      height: 0;
      margin-top: 0;
    }
  }

  .custom {
    opacity: 0;
  }
}
