@import "var";

body.zen {
  #app .custom {
    opacity: 0;
  }

  #top {
    box-shadow: none;

    > div {
      height: 0;
      opacity: 0;
    }
  }

  main {
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
  }
}
