@import "var";

:root {
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --mono-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --font-size: 14px;
  --font-size-s: 12px;
  --info-color: 0, 150, 255;
  --success-color: 0, 200, 100;
  --warning-color: 255, 150, 0;
  --danger-color: 255, 50, 100;
  --mark-color: 255, 255, 0;
}

body {
  margin: 0;
  transition: background-color 0.5s;
}

#app {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.8;
  transition: color 0.5s;
  color: $font-color;

  a {
    cursor: pointer;
    transition: color 0.5s;
    text-decoration: none;
    color: $link-font-color;

    &:hover {
      text-decoration: underline;

      code {
        text-decoration: underline;
      }
    }

    svg {
      margin: 0 4px;
    }
  }

  svg {
    transition: fill 0.5s;
    fill: $font-color;
  }

  img {
    transition: filter 0.5s;

    &.emoji {
      height: 18px;
      vertical-align: -3px;
    }
  }

  .custom {
    transition: opacity 0.5s;
    opacity: 1;
  }
}

#app a.error, main.error header {
  font-weight: bold;
  color: $danger-color-s !important;
}

.filler {
  margin-left: auto;
}

@import "dark";
@import "zen";
