@import "root";
@import "var";

body {
  margin: 0;
  transition: background-color 0.5s;
  background-color: $background-color;
}

#app {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.8;
  transition: color 0.5s;
  color: $font-color;

  a {
    cursor: pointer;
    transition: color 0.5s;
    text-decoration: none;
    color: $link-font-color;

    &:hover {
      text-decoration: underline;

      code {
        text-decoration: underline;
      }
    }

    &.self {
      color: rgb($success-color) !important;
    }

    svg {
      margin: 0 4px;
    }
  }

  img {
    transition: filter 0.5s;

    &.emoji {
      height: 18px;
      vertical-align: -2px;
    }
  }

  svg {
    transition: fill 0.5s;
    vertical-align: -2px;
    fill: $font-color;
  }

  .sync svg {
    animation: svg-spin 1s linear infinite;

    @keyframes svg-spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .filler {
    margin-left: auto;
  }

  .custom {
    transition: opacity 0.5s;
    opacity: 1;
  }

  a.error, span.error, div.error, main.error header {
    font-weight: bold;
    color: rgb($danger-color) !important;
  }
}

@import "top";
@import "loadings";

@import "dark";
@import "zen";
